.left-timer {
    border-top: 1px solid #c3bcc1;
    border-bottom: 1px solid #c3bcc1;

}

.bbc {
    border-left: 1px solid #b5afb4;

}

.bbc:nth-child(odd) {
    border-top: 1px solid #c3bcc1;
    border-bottom: 1px dashed #b5b3b3;
}

.bbc:last-child {
    border-bottom: 1px solid #b5b3b3;
}