.grid-container{
    display: grid;
  grid-template-columns: 10% auto;
  background-color: #ffffff;
  padding: 10px;
}
.grid-item-left {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    height: 80px;
  }
  .grid-item-left div {
  
    height: 80px;
  }
  .grid-item-right {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    
  }

  
.example{
  border: 1px solid black;
}
.startDiv{
  border-top: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
  background-color: rgb(112, 112, 229) !important;
}
.midDiv {
  border-left: 1px solid red;
  border-right: 1px solid red;
  background-color: rgb(112, 112, 229) !important;
}
.endDiv{
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
  background-color: rgb(112, 112, 229) !important;
}

.abc{
  display: grid;
  grid-template-columns:11% auto;
}